*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.colorBlanco{
  color: #FFFF;
}
.containerHome{
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}
.body{
  min-height: 85vh;
}
.containerPizzas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;  
  align-items: flex-start;  
  margin-top: 150px;
  margin-bottom: 30px;
  gap: 20px;  
  padding: 10px; 
}
.containerHeader{
  width: 100%;
  height: 20vh;
}
.card {
  width: 30%;
}
.footerCard{
  display: flex;
  justify-content: space-between;
}

.imagenFondo{
  background: 
  linear-gradient(
    rgba(0, 0, 0.3, 0.6), 
    rgba(0, 0, 0.2, 0.6)
  ), url(./assets/img/Header.jpg);
  color: white;
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 35vh;
  align-items: center;
  justify-content: center;
}

.textCenter {
  z-index: 2;
  color: #FFF;
}
/* CART */
.listaCart{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.listaCart > img{
  width: 10%;
}

.footer{
  background-color: #202429;
  width: 100%;
  height: 10vh;
  color: #FFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardPizza{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; /* Esto asegura que el contenedor tenga la altura de la ventana */
}
.not-found{
  display: flex;
  flex-direction: column;
}